<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= content_for?(:title) ? yield(:title) : 'Admin' %></title>
  <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'adm/application', media: 'all' %>
  <%= javascript_include_tag 'adm/application' %>
</head>
<body>

<div id="huro-app" class="app-wrapper">
  <nav class="navbar mobile-navbar no-shadow is-hidden-desktop is-hidden-tablet" aria-label="main navigation">
    <div class="container">
      <!-- Brand -->
      <div class="navbar-brand">
        <!-- Mobile menu toggler icon -->
        <div class="brand-start">
          <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <%= link_to admin_path, class: 'navbar-item is-brand' do %>
          <%= image_tag 'adm/logo.svg', class: 'light-image' %>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="webapp-navbar">
    <div class="webapp-navbar-inner">
      <div class="left">
        <%= link_to admin_path, class: 'brand' do %>
          <%= image_tag 'adm/logo.svg', class: 'light-image' %>
        <% end %>
        <div class="separator"></div>
        <h1 id="webapp-page-title" class="title is-5">Welcome</h1>
      </div>
      <div class="center">
        <div id="webapp-navbar-menu" class="centered-links">
          <%= link_to admin_path, class: "centered-link centered-link-toggle #{current_page?(admin_path) ? 'is-active': ''}" do %>
            <i data-feather="activity"></i>
            <span>Main</span>
          <% end %>
          <a id="layouts-navbar-menu" class="centered-link centered-link-toggle" data-menu-id="layouts-webapp-menu" href="#">
            <i data-feather="grid"></i>
            <span>Companies</span>
          </a>
          <%= link_to admin_messages_path, class: "centered-link centered-link-toggle #{current_page?(admin_messages_path) ? 'is-active': ''}" do %>
            <i data-feather="mail"></i>
            <span>Messages</span>
          <% end %>
          <%= link_to admin_press_releases_path, class: "centered-link centered-link-toggle #{current_page?(admin_press_releases_path) ? 'is-active': ''}" do %>
            <i data-feather="file-text"></i>
            <span>News</span>
          <% end %>
          <%= link_to admin_users_path, class: "centered-link centered-link-toggle #{current_page?(admin_users_path) ? 'is-active': ''}" do %>
            <i data-feather="users"></i>
            <span>Users</span>
          <% end %>
          <%= link_to admin_system_path, class: "centered-link centered-link-toggle #{current_page?(admin_system_path) ? 'is-active': ''}" do %>
            <i data-feather="cpu"></i>
            <span>System</span>
          <% end %>
          <%= link_to admin_system_visits_path, class: "centered-link centered-link-toggle #{current_page?(admin_system_visits_path) ? 'is-active': ''}" do %>
            <i data-feather="list"></i>
            <span>Visits</span>
          <% end %>
          <a class="centered-link centered-link-search">
            <i data-feather="search"></i>
            <span>Search</span>
          </a>
        </div>
        <div id="webapp-navbar-search" class="centered-search is-hidden">
          <div class="field">
            <div class="control has-icon">
              <input type="text" class="input is-rounded search-input" placeholder="Search records...">
              <div class="form-icon">
                <i data-feather="search"></i>
              </div>
              <div id="webapp-navbar-search-close" class="form-icon is-right">
                <i data-feather="x"></i>
              </div>
              <div class="search-results has-slimscroll"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="toolbar ml-auto">
          <div class="toolbar-link">
            <label class="dark-mode ml-auto">
              <input type="checkbox" checked>
              <span></span>
            </label>
          </div>

          <%= link_to admin_logout_path, class: 'toolbar-link right-panel-trigger is-black' do %>
            <i class="fa fa-sign-out-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>
  <%= render partial: 'public/loader' %>
</div>
</body>
</html>