<% @releaseds.each_slice(2) do |row| %>
  <div class="row">
    <div class="col-xs-12">
      <ul class="category-list-post category-list-post-two">
        <% row.each do |company| %>
          <li>
            <div class="category-mid-post-two">
              <h2 class="post-title">
                <%= link_to company.name, company_path(company.uuid) %>
              </h2>
              <div class="post-meta">
                <% if company.website.present? %>
                  <span class="post-category">
                    <i class="fa fa-link"></i> <%= link_to 'Website', company.website %>
                  </span>
                <% end %>
                <div class="pull-right">
                  <span class="post-date"><%= company.published_date.strftime('%d %^b %Y') %></span>
                  <% if company.industry.present? %>
                    <em>/</em>
                    <span class="post-category"><%= company.industry %></span>
                  <% end %>
                </div>
              </div>
              <% if company.address.present? %>
                <div class="post-meta company-address">
                  <i class="fa fa-map-marker"></i><span class="post-date ml-2"><%= company.address %></span>
                  <span class="pull-right published-state">PUBLISHED</span>
                </div>
              <% end %>

              <div class="post-des dropcap">
                <p>
                  <% if company.description.length > 200 %>
                    <%= company.description[0..200] %><span class="hide"><%= company.description[201..-1] %></span>
                    <a href="#" class="btn-expand">expand</a>
                  <% else %>
                    <%= company.description %>
                  <% end %>
                </p>
              </div>

              <div class="post-footer text-center">
                <%= link_to 'Read More', company_path(company.uuid), class: 'btn-read-more' %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="clearfix"></div>
<div class="paging-outer">
  <%= paginate_ajax @releaseds, table: 'releasings' %>
</div>